.footer {
  background-color: #282828;
  color: white;
  padding: 60px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.logo-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.logo-color {
  color: #a569bd;
  font-family: 'Luckiest Guy', cursive;
}

.about-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.socials a {
  margin-right: 10px;
  font-size: 20px;
  color: white;
  transition: color 0.3s;
}

.socials a:hover {
  color: #a569bd;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 10px;
}

.links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.links ul li a:hover {
  color: #a569bd;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.text-input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.btn {
  padding: 10px;
  background-color: #a569bd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #8e44ad;
}
